.wp-block-wphackers-qr-block {
	&.is-size-small img {
		width: 100px;
		height: 100px;
	}

	&.is-size-medium img {
		width: 200px;
		height: 200px;
	}

	&.is-size-large img {
		width: 300px;
		height: 300px;
	}
}