.wp-block-wphackers-qr-block__popover {
	.components-popover__content {
		width: 300px;
		padding: 10px;
	}

	.components-select-control {
		margin-left: 10px;
	}

	.wp-block-wphackers-qr-block-image-size-control {
		.components-text-control__input {
			max-width: 100px;
			margin-left: 5px;
		}
	}
}

.wp-block-wphackers-qr-block__actions {
	display: flex;
	justify-content: flex-end;

	.components-button {
		margin-left: 5px;
	}
}

.wp-block-wphackers-qr-block__preview canvas {
	display: none !important;
}

.wp-block-wphackers-qr-block__toolbar-menu-group {
	min-width: 250px;
}
