.wp-block-wphackers-qr-block__popover {
	.components-popover__content {
		width: 300px;
		padding: 10px;
	}

	.wp-block-wphackers-qr-block__actions {
		display: flex;
		justify-content: flex-end;
	}

	.components-select-control {
		margin-left: 10px;
	}
}